################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShop/.vs/OnlineShop/FileContentIndex/1bff457f-c21c-40b8-a96e-57044f7dc0fa.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/2e8c0bb9-cc2d-43d2-b3e3-75566512d6b9.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/3848893d-998c-4a7b-b281-61678e92d7f2.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/3bda52c2-7126-456b-9118-2baaeaaf685b.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/da0ba0b1-3a3a-4ea9-8bb6-1754773fbe11.vsidx
/OnlineShop/.vs/OnlineShop/DesignTimeBuild/.dtbcache.v2
/OnlineShop/.vs/OnlineShop/v17/.futdcache.v2
